<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>some website</title>
</head>
<body>
<!-- 	<h1>{{pageTitle}}</h1>
	<p>some text here</p> -->

	{{> header}}

	{{> footer}}
	<!-- use nodemon app.js -e js,hbs for node to watch extensions such as js and hbs -->

</body>
</html>